<nav>
    <div class="brand-container">
      <img src="/assets/images/brand_logo.png" alt="brand identity" class="brand-logo">
    </div>
    <div class="navigation-bar">
      <div>
        <img src="/assets/images/search_bar.png" alt="search bar" class="search-bar">
      </div>
      <div>
        <img src="/assets/images/login_icon.png" alt="user login" class="user-login">
      </div>
      <div>
        <img src="/assets/images/cart_icon.png" alt="cart" class="cart">
      </div>
    </div>
</nav>